*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.navbar{
    height: 65px;
    background-color: #0f1111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 120px;
}

.logo{
    background-image: url("../images/amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}

.border{
    border: 1.5px solid transparent;
    padding: 5px 10px;
}

.border:hover{
    border: 1.5px solid #fff;
}

/* box 2 */

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second{
    font-size: 1rem;
    margin-left: 4px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/* box 3 */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover{
    border: 2px solid rgb(252, 182, 51);
}

.nav-search input{
    padding-left: 10px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(250, 200, 50);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

/* box-4 */

.search-language{
    font-size: 14px;
    font-weight: 900;
    background-color: #0f1111;
    color: #fff;
    border: none;
}

.flag{
    font-size: 19px;
}

/* box-5 */

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* box 6 */

.nav-cart i{
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}


/* panel section */

.panel{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    background-color: #222f3b;
    color: #fff;
}

.panel-options p{
    display: inline;
    margin-left: 15px;
}

.panel-options{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}


/* hero section */

.banner-section{
    background-image: url(../images/hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.banner-description{
    background-color: #fff;
    color: #000;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.banner-description a{
    color: #007185;
}



/* shop section */

.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}

.box{
    height: 530px;
    border: 2px solid transparent;
    width: 23%;
    background-color: #fff;
    padding: 20px 0 15px;
    margin-top: 30px;
}

.box-image{
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
    margin-top: 20px;
}

.box-content h2{
    margin-bottom: 20px;
} 

/* footer */

footer{
    margin-top: 20px;
}

.footer-panel-1{
    background-color: #37475a;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

.footer-panel-2{
    background-color: #222f3d;
    color: #fff;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

.footer-panel-2 ul{
    margin-top: 50px;
}

.footer-panel-2 ul a{
    display: block;
    text-decoration: none;
    color: #dddddd;
    font-size: 0.85rem;
    margin-top: 10px;
}

.footer-panel-3{
    background-color: #222f3b;
    border-top: 0.1px solid #5c5b5b;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-3-logo{
    background-image: url("../images/amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;
}

.panel-3-options{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.panel-3-options i{
    padding-right: 10px;
}

.panel-3-dropdown{
    background-color: #222f3b;
    color: #fff;
    border: none;
}

.option-border{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 10px;
}

.footer-panel-4{
    background-color: #0f1111;
    color: #fff;
    height: auto;
    font-size: 0.7rem;
    padding-bottom: 20px;
}

.footer-links{
    text-align: center;
}

/* .footer-options{
    padding-top: 1px;
} */

.copyright{
    padding-top: 7px;
}

.footer-options a{
    text-decoration: none;
    color: #fff;
    padding-left: 15px;
    font-size: 0.85rem;
}

.footer-services{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: 0 40px;
    padding: 50px 400px;
}

.service-box{
    margin-bottom: 30px;
    width: 130px;
}

.service-box h3{
    font-size: 16px;
    font-weight: 200;
}

.service-box p{
    color: gray;
    font-size: 14px;
}